*{
  
  
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif
}

body{
  
  background-color:#f9f8f7;
  color:#1a1a1a;
  
}

.cart-icon{
  
  color: gold;
  background-color: gold;
}

.navbar{
  
  
  background-color: maroon;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.25rem 2rem;


}

.navbar .Logo{
  
  font-size:1.5rem;
  font-weight:bold;
  color: gold;
  text align: center;
}

.nav-links{
  
  
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a{
  
  text-decoration:none;
  color: #f2f2f2;
  
}

.banner{
  
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
  overflow: hidden;
  color:white;
}

.bg-image{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url('./new-york-city-ny-us-600nw-2614830577.jpg') no-repeat center center/cover;
  z-index: 0;
  filter:brightness(0.7);

}

.banner-text{
  
  
  position: relative;
  z-index:1;
}

.banner-text h1{
  
  font-size: 3rem;
  color: gold;
}

.banner-text p{
  
  font-size: 1.2rem;
  margin-top: 10px; 
  margin-bottom: 20px;
  
}

.banner-btn{
  
  background-color: gold;
  color:#111;
  padding:0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;

}


.product-section{
  
  
  padding:3rem 2rem;
  
  
}


.section-title{
  
  
  text-align:center;
  font-size: 2rem;
  margin-bottom: 2rem;
}



.product-grid{
  
  
  display: flex ;
  gap:2rem;
  justify-content:center;
  flex-wrap: wrap;
}


.product-card{
  
  background-color: #fff;
  box-shadow:0 0 15px rgb(0, 0, 0, 0.08);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  width:250px;
}

.product-card img{
  
  width:100%;
  border-radius: 8px;
  
  
  
}

.product-card h3{
  
  margin-top: 0.8rem 0 0.4rem;
  
}

.product-card p{
  
  
  color: maroon;
  margin: 5px 0;
  border-radius: 10px;
  font-weight: bold;
}

.product-card button{
  
  background-color: gold ;
  border: none;
  padding: 0.6rem 1rem;
  color:#111;
  font-weight: bold;
  border-radius:5px;
  cursor: pointer ;
  
}

.footer{
  
  
  background-color: black;
  color:#ccc;
  padding:2rem;
  text-align: center;
}

.footer .socials a{
  
  
  color: gold ;
  margin:0 0.5;
  text-decoration: none;
  
}

